MEMORY {
    ZP:     start = $00, size = $100, type = rw;
    # Define one RAM region covering needed areas.
    # Using fill = no makes the output binary smaller, containing only actual code/data.
    # Your LoadProgram function handles this fine.
    RAM:    start = $0000, size = $FFFF+1, fill = no;
}
SEGMENTS {
    ZEROPAGE: load = ZP, type = zp;
    # --- Explicit start addresses ---
    DATA:     load = RAM, start = $0200, type = ro; # Place DATA segment at $0200
    CODE:     load = RAM, start = $0600, type = ro; # Place CODE segment at $0600
    VECTORS:  load = RAM, start = $FFFA, type = ro; # Place VECTORS segment at $FFFA
}